.helado {
  height: 115vh;
  background: url('../../Assets/img/image7.webp'), #B5E8D5;
  background-attachment: fixed;
  display: flex;
}
.helado img {
  width: 100%;
  object-fit: cover;
}
.helado {
  height: 115vh;
  background: url('../../Assets/img/image7.webp'), #B5E8D5;
  background-attachment: fixed;
  display: flex;
}
.helado img {
  width: 100%;
  object-fit: cover;
}
